.header {
    // background-color: white;
    background-image: linear-gradient(to right,#480048, #C04848);
    height: 80px;
    // border-bottom: 2px solid #1769aa;

    & > * {
        font-family: Cabin, sans-serif;
    }

    & a {
        color: #fff;
    
        // &:hover {
        //     color: darken(#1769aa, 20%);
        // }
    }
}

.btn-outline-secondary {
    border: thin solid 1769aa;
    color: #333;
    background-color: #FFC107;
    border: none;
    border-radius: 25px;

    &:hover {
        // box-shadow: 1px 1px 1px 1px #4c7d69;
        background-color: #3f9fff;
        color: #fff;
    }
}

.btn-right {
    margin-left: 10px;
}

.login, 
.register,
.comment {

    & * {
        font-family: Cabin, sans-serif;
    }

    &__header {
        background-color: #1769aa;
        color: white;
        height: 5rem;
        vertical-align: middle;

        & > .close {
            height: 50px;
            width: 50px;

            & > span {
                font-family: Nunito;
                font-weight: 200;
                font-size: 2.3rem;
                color: white;
                text-transform: uppercase;
            }
        }
    }
    
    & input, & textarea, & select {
        border-radius: 0;
    }

    & button {
        border-radius: 0;
        margin-left: auto;
        background-color: #1769aa;
        border: none;
    }
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-radius: 0;
}



