.header {
    background-color: white;
    height: 100px;

    & > * {
        font-family: Cabin, sans-serif;
    }

    & a {
        color: #4c7d69;
    
        &:hover {
            color: darken(#4c7d69, 20%);
        }
    }
}

.btn-outline-secondary {
    border: thin solid #4c7d69;
    color: #4c7d69;

    &:hover {
        // box-shadow: 1px 1px 1px 1px #4c7d69;
        background-color: white;
        color: #4c7d69;
    }
}

.btn-right {
    margin-left: 10px;
}

