.row-header{
    margin:0px auto;
    padding:0px auto;
  }
  
  .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
  }
  
  .footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
  }
  .jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
  }
  
  address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
  }
  
  .navbar-dark {
    background-color: #512DA8;
    height: 200px;
  }  

.white {
    background-color: #fff;
  }

.home {

  & h1 {
    color: #4c7d69;
  }

  & h3 {
    color: #9b9275;
  }

  &__welcome {
    background-image: url('./images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    position: relative;   

    &-msg {   
      position: absolute;        
      top: 50%;
      left: 50%;  
      transform: translateX(-50%) translateY(-50%);

      & > * {
        font-family: Herr Von Muellerhoff, sans-serif;
        color: gold;
        font-size: 4rem;
      }

      &:first-child {
        font-size: 5rem;
        text-align: center;
      }
        
      &:last-child {
        font-size: 4rem;
        text-align: center;
      }
    }
  }

  & .content {
    width: 900px;
    position: relative;

    &__presentation > .paragraph {
      position: absolute;
      top: 13%;
      left: 50%;
    }

    &__presentation > .digraph {
      position: absolute;
      top: 61%;
      left: 50%;
    }

    & * {
      font-family: Cabin, sans-serif;
    }
  }

  &__bottom > p {
    text-align: center;
    font-size: 2rem;
    color: #9b9275;
  }
}

.paragraph-2, .paragraph-4 {
  margin-top: 50px;
}