.row-header {
  margin: 0px auto;
  padding: 0px auto; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px; }

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575CD;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

.navbar-dark {
  background-color: #512DA8;
  height: 200px; }

.white {
  background-color: #fff; }

.home h1 {
  color: #4c7d69; }

.home h3 {
  color: #9b9275; }

.home__welcome {
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  position: relative; }
  .home__welcome-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
    .home__welcome-msg > * {
      font-family: Herr Von Muellerhoff, sans-serif;
      color: gold;
      font-size: 4rem; }
    .home__welcome-msg:first-child {
      font-size: 5rem;
      text-align: center; }
    .home__welcome-msg:last-child {
      font-size: 4rem;
      text-align: center; }

.home .content {
  width: 900px;
  position: relative; }
  .home .content__presentation > .paragraph {
    position: absolute;
    top: 13%;
    left: 50%; }
  .home .content__presentation > .digraph {
    position: absolute;
    top: 61%;
    left: 50%; }
  .home .content * {
    font-family: Cabin, sans-serif; }

.home__bottom > p {
  text-align: center;
  font-size: 2rem;
  color: #9b9275; }

.paragraph-2, .paragraph-4 {
  margin-top: 50px; }

.footer {
  background-color: #4c7d69;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 20%, 100% 100%);
  clip-path: polygon(0% 100%, 0% 0%, 100% 20%, 100% 100%); }
  .footer p {
    margin-top: 5px;
    color: floralwhite;
    font-size: 1rem; }

li {
  margin-top: 5px; }
  li > a {
    color: floralwhite; }
  li > a:hover {
    color: whitesmoke;
    text-decoration: none; }

.email {
  color: floralwhite;
  font-size: 1rem; }
  .email:hover {
    text-decoration: none;
    color: whitesmoke; }

.mailing {
  text-align: center; }

.header {
  background-color: white;
  height: 100px; }
  .header > * {
    font-family: Cabin, sans-serif; }
  .header a {
    color: #4c7d69; }
    .header a:hover {
      color: #253e34; }

.btn-outline-secondary {
  border: thin solid #4c7d69;
  color: #4c7d69; }
  .btn-outline-secondary:hover {
    background-color: white;
    color: #4c7d69; }

.btn-right {
  margin-left: 10px; }

.menu__item {
  background-image: linear-gradient(to bottom right, #0276aa, #6d1b7b);
  border-radius: 3px;
  height: 89px; }
  .menu__item:hover {
    transform: scale(1.05);
    transition: all 0.3s; }
  .menu__item > a:hover {
    text-decoration: none; }
  .menu__item-name {
    color: white; }
    .menu__item-name:hover {
      text-decoration: none; }
    .menu__item-name > h2 {
      font-family: Source Sans Pro, sans-serif; }
  .menu__item-img {
    width: 110px;
    height: 89px;
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 100%, 100% 90%);
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%); }

.menu__header-title {
  font-family: Cabin, sans-serif; }

.detail {
  width: 1000px;
  height: 350px;
  margin-bottom: 90px; }
  .detail__image {
    width: 100%; }
  .detail__title {
    font-family: Cabin, sans-serif; }
  .detail__image > img {
    width: 100%;
    height: 300px; }
  .detail__description > p {
    padding: 40px;
    font-size: 1.2rem;
    font-size: 500;
    font-family: Cabin, sans-serif; }
  .detail__comments-item {
    display: block;
    width: 700px;
    margin-top: 20px;
    border: thin solid darkgoldenrod;
    border-radius: 3px; }
    .detail__comments-item > * {
      font-family: Cabin, sans-serif; }
    .detail__comments-item > div > p {
      padding-left: 20px;
      margin: 2px; }

.edit {
  font-size: 0.7rem;
  border: none;
  color: #1769aa; }

.delete {
  font-size: 0.7rem;
  border: none;
  color: #1769aa; }

.lnr-star {
  color: darkgoldenrod; }
